<div class="page-header">
	<!-- <h1>Popular Snippets</h1> -->
	<h1>All Snippets</h1>
</div>

<% @snippets.each do |snippet| %>
<% @language = Language.find snippet.language_id  %>
<% @editor = Editor.find snippet.editor_id  %>
<% @user = User.find snippet.user_id  %>
	<div class="col-md-4">
		<div class="snippet-card">
		<%= image_tag @language.icon, class: "icon" %>
			<div class="body">
				<h4 class="title"><%= link_to snippet.name, snippet_path(snippet) %></h4>
				<span class="description"><%= snippet.description %></span>
				<ul class="tags">
					<li><%= image_tag @editor.icon_src %>	<%= @editor.name %></li>
					<li><%= @language.name %></li>
				</ul>
			</div>
			<div class="meta">@<%= @user.username %></div>
		</div>
	</div>
<% end %>
	
	