<h1>View My Snippets</h1>
<ul>
	<% @snippets.each do |snip| %>
	<li><%= snip.name %> <%= link_to "Edit", edit_snippet_path(snip) %></li>
	<ul>
		<li><%= snip.description %></li>
		<li><pre><code>
			<%= snip.code %>
		</code></pre></li>
		<li><%= snip.language_id %></li>
		<li><%= snip.editor_id %></li>
	</ul>
	<% end %>
</ul>