<h1>View My Snippets</h1>
<ul>
	<% @snippets.each do |snip| %>
	<li><%= link_to snip.name, snippet_path(snip) %></li>
	<ul>
		<li><%= snip.description %></li>
		<li><pre><code>
			<%= snip.code %>
		</code></pre></li>
		<li><%= snip.language_id %></li>
		<li><%= snip.editor_id %></li>
	</ul>
	<% end %> <br>
	<%= link_to "Go Back", :back %>
</ul>