<h1>Snippets#index</h1>
<p>Find me in app/views/snippets/index.html.erb</p>
<ul>
	<% @snippets.each do |snip| %>
	<li><%= snip.name %></li>
	<ul>
		<li><%= snip.description %></li>
		<li><pre><code>
			<%= snip.code %>
		</code></pre></li>
		<li><%= snip.language_id %></li>
		<li><%= snip.editor_id %></li>
	</ul>
	<% end %>
</ul>