<h1>Show Snippet</h1>
<%= link_to "Go Back", :back %> <br>
<%= link_to "Edit Snippet", edit_snippet_path(@snippet) %>
<ul>
	<li><%= @snippet.name %></li>
	<li><%= @snippet.description %></li>
	<li><%= @snippet.code %></li>
</ul>
